body{
    padding-left: 10px;
}
.alignred{
    background-color: rgb(223, 223, 223);
    color: red;
}
.box{
    border: solid 3px green;
    padding: 10px;
    text-align: center;
}
div{
    background-color: rgb(187, 186, 186);
    padding: 10px;

}
.white{
    margin: 10px 0px;
    background-color: white;
    border-left: solid 3px greenyellow;
}
.pad{
    padding-left: 20px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.button{
    padding: 5px 20px;
    background-color: rgb(20, 163, 20);
    color: aliceblue;
    border: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}