.container {
    width: 300px;
    background-color: #e8eff5;
    padding: 25px;
}

.shape {
    width: 100px;
    height: 100px;
    background-color: #16f5f5;
    /*transition: border-radius 1s ease, background-color 1s ease;*/
    /*transition: all 1s ease;*/
}

.shape:hover {
    animation: shapeHover 2s ease;
}

@keyframes shapeHover {
    0% {
        border-radius: 0;
        background-color: #16f5f5;
    }
    50% {
        border-radius: 30%;
        background-color: #c1806c;
        transform: translate(15px, 0);
    }
    100% {
        border-radius: 50%;
        background-color: #f66147;
        transform: translate(30px, 0)
    }
}